ul{
  list-style: none;
}
.fizz,.buzz,.fizz-buzz{
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
  margin: 10px 5px;
  font-family: cursive;
}

.fizz{
  color: red;
}
.buzz{
  color:blue;
}
.fizz-buzz{
  color: green;
}
.number{
  color: darkgrey;
  font-size: 20px;
  font-weight: bold;
}
